<h2 class="header">
  Staff Bios
</h2>

<div class="staffCard">
  <img class="staffPic" src="../../../assets/liz.jpg">
  <p class="staffBlurb">
    <span class="bold">Liz Nye</span> received her Master of Arts in theatre from the University of Nebraska at Omaha and has since been working in professional
    and community theatres, including The Nebraska Shakespeare Festival, The Rose Center for the Performing Arts, and The Vintage
    Theatre. She is the founder and former Artistic Director of Little Black Box, a theatre company in Landstuhl, Germany which
    was formed to benefit the Wounded Warrior House and the PTSD group Beyond the Wire. As a director, actor, and pit musician,
    Liz has been working in the theatre for over 25 years. She loves sharing her enthusiasm for theatre with children and encouraging
    them to explore their creativity and imagination through the performing arts.
  </p>
</div>
<div class="staffCard">
  <img class="staffPic" src="../../../assets/deb.jpg">
  <p class="staffBlurb">
    <span class="bold">Deb Flomberg</span> originally studied theatre at the University of Northern Colorado and has been active in the Denver Theatre
    Community since 1997. She has directed numerous productions at local theatres, including the recent Vintage production of
    “Willy Wonka.” She is a founding member and Co-Executive Producer of the Equinox Theatre Company, producing cutting edge
    works for local Denver audiences since 2009. Deb is thrilled to be on board with the new Vintage Youth Theatre program as
    an instructor and staff writer! You can also catch her online writing as the Denver Theatre Examiner.
  </p>
</div>
<div class="staffCard">
  <img class="staffPic" src="../../../assets/seth.jpg">
  <p class="staffBlurb">
    <span class="bold">Seth Maisel</span> earned his Bachelor of Arts degree from Pomona College with a double-major in English Literature and Theater. Both majors
    focused on Shakespeare text and performance. He went on to earn his Master of Fine Arts degree in Theatre from Florida Atlantic
    University. He has been working as a professional actor and fight/stunt coordinator for over 15 years and is a certified
    Actor Combatant with the Society of American Fight Directors.
  </p>
</div>
<div class="staffCard">
  <img class="staffPic" src="../../../assets/jackie.jpg">
  <p class="staffBlurb">
    <span class="bold">Jackie Vanderbeck DiSalvo</span> is a recent transplant to Denver from New York City. A graduate of the prestigious University of
    Cincinnati – College Conservatory of Music with a BFA in Musical Theatre, Jackie has also studied at the William Esper Studio,
    and Uprights Citizens Brigade in NYC. In addition to her work as an actor, Jackie is the founder and Producing Artistic Director
    of non-profit organization Sing For Your Seniors. Having grown up in the special needs community along side her sister, Jaime,
    who is blind and developmentally delayed, Jackie is excited to bring together her life experience and theatre training, to
    make sure everyone has an opportunity to be a part of the magic of theatre.
  </p>
</div>