<main>
    <section class="leftSide">
        <h2>Enroll today!</h2>
        <form #jobForm="ngForm">
            <label for="name">Student Name:</label>
            <input type="text" name="name" id="sName" [(ngModel)]="model.name">
            <label for="age">Student Age:</label>
            <input type="number" name="age" id="sAge" [(ngModel)]="model.age">
            <label for="email">Student E-Mail:</label>
            <input type="text" name="email" id="sEmail" [(ngModel)]="model.contactEmail">
            <label for="emergencyContact">Emergency Contact:</label>
            <input type="text" name="emergencyContact" id="sEContact" [(ngModel)]="model.emergencyContact">
            <label for="relationship">Contact Relation:</label>
            <select name="relationship" id="sGuardian" [(ngModel)]="model.contactRelation">
                <option>Father</option>
                <option>Mother</option>
                <option>Legal Guardian</option>
            </select>
            <label for="contactPhone">Contact Phone:</label>
            <input type="text" name="contactPhone" id="sCPhone" [(ngModel)]="model.contactPhone">
            <input type="submit" class="sLink" name="submit" value="Enroll!" (click)="onClick(this.model)">
        </form>
    </section>
    <section class="rightSide">
        <h3>Several scholarship opportunities are available through local Aurora schools and foundations!</h3>
        <p>Low-income families are encouraged to visit the institutions below and explore opportunities for scholarship.</p>
        <p>If you have received a scholarship, please complete your enrollment by filling out the form to the left. Upon submission,
            scholarship students will be contacted by an instructor to verify scholarship information and complete enrollment.</p>
        <div class="imgContainer">
            <img src="../../../assets/bostonelementary.png">
            <img src="../../../assets/scfd.jpg">
            <img src="../../../assets/acad.png">
        </div>
    </section>
</main>