<main>
  <img src="../../../assets/seussical.png" class="seussicalImg">

  <h2 class="header">SEUSSICAL JR. – THE MUSICAL! SUMMER CAMP</h2>

  <p class="bodyText">With parts for all ages and abilities, this musical is full of heart, imagination,
  and unforgettable songs! 
  </p>

  <p class="bodyText">Vintage welcomes all student performers to our summer camp, whether you’re a first time actor or
  a veteran of the stage. We have a role for you! Camp enrollments are not audition based, which means that everyone is free
  to sign up. We will hold auditions during the first two days of camp to assign roles, but absolutely everyone will get a
  part that’s perfect for them. 
  </p>

  <p class="bodyText">
  Vintage provides professional costume, set, and lighting design, as well as the chance to perform
  on a professional stage! 
  </p>

  <p class="bodyText">The summer musical is directed and choreographed by local director, Liz Nye, who directed both the
  fantastical Beauty and the Beast Jr. and the fun-filled Peter Pan Jr. last summer at Vintage.
  </p>

  <p class="bodyText bold">Camp runs Monday through Friday from 12:00 to 3:00. We can’t wait to see you!
  </p>

  <div class="middleContainer">
    <div class="leftMiddle">
      <ul>
        <li>
          <span class="bold">Camp dates:</span> June 11-15, 18-22, 25-29
        </li>
        <li>
          <span class="bold">Times:</span> 12:00pm to 3:00pm
        </li>
        <li>
          <span class="bold">Performances:</span> June 29 and 30 at 3pm
        </li>
        <li>
          <span class="bold">Tuition:</span> $325 for the entire camp
        </li>
      </ul>
    </div>
    <div class="rightMiddle">
      <a class="sLink center" routerLink="/enroll" routerLinkActive="active">Enroll now!</a>
      <a class="sLink" routerLink="/scholarship" routerLinkActive="active">Scholarships Available!</a>
    </div>
  </div>
</main>