main {
    margin: 25px 25px 40px 25px
}

ul {
    list-style-type: none;
}

img {
    display: block;
    margin: 50px;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

li {
    margin: 5px;
}

.middleContainer {
    display: flex;
    justify-content: space-around;
    align-items: center
}

.rightMiddle {
    display: flex;
    flex-flow: column;
}