
<main>
  <div class="leftSide">
    <h2 class="center">Paid Enrollment</h2>
    <section class="studentCard" *ngFor="let student of studentArr">
      <div>
        <span>Name: {{student.name}}</span>
      </div>
      <div>
        Student ID: <span class="studentId">{{student.id}}</span>
      </div>
      <div>
        <span>Age: {{student.age}}</span>
      </div>
      <div>
        <span *ngIf="student!==editStudent">Student Email: {{student.contactEmail}}</span>
        <input *ngIf="student===editStudent" [(ngModel)]="student.contactEmail">
      </div>
      <div>
        <span>Emergency Contact: {{student.emergencyContact}} ({{student.contactRelation}})</span>
      </div>
      <div>
        <span *ngIf="student!==editStudent">Contact Phone: {{student.contactPhone}}</span>
        <input *ngIf="student===editStudent" [(ngModel)]="student.contactPhone">
      </div>
      <div>
        Enrollment Date: {{student.enrolledOn}}
      </div>
      <div>
        Payment Status:
        <span *ngIf="student.scholarship === true">Has scholarship.</span>
        <span *ngIf="student.scholarship !== true">Paid student.</span>
      </div>
      <div class="bContainer">
        <button *ngIf="student!==editStudent" (click)=editStudentInfo(student)>Edit</button>
        <button *ngIf="student===editStudent" (click)=updateStudent()>Save</button>
        <button (click)=deleteStudent(student)>Delete</button>
      </div>
    </section>
  </div>

  <div class="rightSide">
    <h2>Scholarships</h2>
    <section class="scholCard" *ngFor="let scholarship of scholArr">
      <div>
        <span>Name: {{scholarship.name}}</span>
      </div>
      <div>
        Scholarship ID:
        <span class="studentId">{{scholarship.id}}</span>
      </div>
      <div>
        <span>Age: {{scholarship.age}}</span>
      </div>
      <div>
        <span *ngIf="scholarship!==editScholarship">Student Email: {{scholarship.contactEmail}}</span>
        <input *ngIf="scholarship===editScholarship" [(ngModel)]="scholarship.contactEmail">
      </div>
      <div>
        <span>Emergency Contact: {{scholarship.emergencyContact}} ({{scholarship.contactRelation}})</span>
      </div>
      <div>
        <span *ngIf="scholarship!==editScholarship">Contact Phone: {{scholarship.contactPhone}}</span>
        <input *ngIf="scholarship===editScholarship" [(ngModel)]="scholarship.contactPhone">
      </div>
      <div>
        Enrollment Date: {{scholarship.enrolledOn}}
      </div>
      <div>
        <span *ngIf="scholarship!==editScholarship">Verified By: {{scholarship.verifiedBy}}</span>
        <select *ngIf="scholarship===editScholarship" [(ngModel)]="scholarship.verifiedBy">
          <option disabled>Instructor</option>
          <option>Liz Nye</option>
          <option>Deb Flomberg</option>
          <option>Seth Maisel</option>
          <option>Jackie DiSalvo</option>
        </select>
      </div>
      <div class="bContainer">
        <button *ngIf="scholarship!==editScholarship" (click)=editScholInfo(scholarship)>Edit</button>
        <button *ngIf="scholarship===editScholarship" (click)=updateScholarship()>Save</button>
        <button (click)=deleteScholarship(scholarship)>Delete</button>
      </div>
    </section>
  </div>
</main>
<section class="chart">
  <fusioncharts width="600" height="350" type="Column2D" dataFormat="JSON" [dataSource]="dataSource"></fusioncharts>
</section>