main {
    display: flex;
    flex-flow: row;
    width: 100%;
}

.leftSide, .rightSide {
    width: 50%;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: flex-start;
}

h2 {
    margin: 15px;
}
    
.studentCard, .scholCard {
    min-width: 80%;
    border: 1px #765B7F solid;
    background-color: rgb(196, 188, 199);
    list-style-type: none;
    margin: 15px;
}

button {
    margin: 2px;
    font-size: 12px;
    background-color: #765B7F;
    color: #FFD49E;
    border: 1px #FFD49E solid;
}


div {
    margin: 5px;
    padding: 2px;
    opacity: .8;
}

div:hover {
    opacity: 1;
}

div:nth-of-type(odd) {
    background: #e0e0e0;
}

div:nth-of-type(even) {
    background: #FFD49E;
}

input {
    background-color: #765B7F;
    color: white;
}

.chart {
    display: flex;
    align-content: center;
    justify-content: center;
    margin: 20px;
}