<main>
  <div class="leftSide">
    <h2 class="center">Current Enrollment</h2>
    <section class="studentCard" *ngFor="let student of studentArr">
      <div>
        <span class="stripe1">Name: {{student.name}}</span>
      </div>
      <div>
        Student ID: <span class="studentId">{{student.id}}</span>
      </div>
      <div>
        <span class="stripe1">Age: {{student.age}}</span>
      </div>
      <div>
        <span class="stripe1" *ngIf="student!==editStudent">Student Email: {{student.contactEmail}}</span>
        <input class="stripe1" *ngIf="student===editStudent" [(ngModel)]="student.contactEmail">
      </div>
      <div>
        <span class="stripe1">Emergency Contact: {{student.emergencyContact}} ({{student.contactRelation}})</span>
      </div>
      <div>
        <span class="stripe1" *ngIf="student!==editStudent">Contact Phone: {{student.contactPhone}}</span>
        <input class="stripe1" *ngIf="student===editStudent" [(ngModel)]="student.contactPhone">
      </div>
      <div>
        Enrollment Date: {{student.enrolledOn}}
      </div>
      <div>
        Payment Status:
        <span class="stripe1" *ngIf="student.scholarship === true">Has scholarship.</span>
        <span class="stripe1" *ngIf="student.scholarship !== true">Paid student.</span>
      </div>
      <div class="bContainer">
        <button *ngIf="student!==editStudent" (click)=editStudentInfo(student)>Edit</button>
        <button *ngIf="student===editStudent" (click)=updateStudent()>Save</button>
        <button (click)=deleteStudent(student)>Delete</button>
      </div>
    </section>
  </div>
  <div class="rightSide">
    <h2>Scholarships</h2>
    <section class="studentCard" *ngFor="let scholarship of scholArr">
      <div>
        <span class="stripe1">Name: {{scholarship.receivedBy}}</span>
      </div>
      <div>
        Scholarship ID:
        <span class="studentId">{{scholarship.id}}</span>
      </div>
      <div>
        <span class="stripe1" *ngIf="scholarship!==editScholarship">Verified By: {{scholarship.verifiedBy}}</span>
        <select class="stripe1" *ngIf="scholarship===editScholarship" [(ngModel)]="scholarship.verifiedBy">
          <option>Liz Nye</option>
          <option>Deb Flomberg</option>
          <option>Seth Maisel</option>
        </select>
      </div>
      <div class="bContainer">
        <button *ngIf="scholarship!==editScholarship" (click)=editScholInfo(scholarship)>Edit</button>
        <button *ngIf="scholarship===editScholarship" (click)=updateScholarship()>Save</button>
        <button (click)=delete(student)>Delete</button>
      </div>
    </section>
  </div>
</main>