<h2 class="header">
  SIGN UP FOR THE VINTAGE YOUTH THEATRE PROGRAM TODAY!
</h2>
<p class="bodyText">
  The exciting new Vintage Youth Program is designed to enrich the lives of children by offering classes, workshops, private
  coaching and touring shows with our professional actors, directors, choreographers and more! This brand new program is created
  to provide students and schools an array of educational workshops, artist in residency programs and professional touring
  shows that can even be brought right to your school!
</p>
<p class="bodyText">
  Feel free to contact our Education Director, Liz Nye at (303) 537-7233
  or by email at education@vintagetheatre.com with any questions about our programming and availability! Click the links below
  to discover more information about our many programs.
</p>
<div class="campContainer">
  <h2 class="header">
    ENROLLMENT OPEN FOR SEUSSICAL JR: THE MUSICAL!
  </h2>
  <img src="../../../assets/seussical.png" class="seussicalImg">
  <nav class="subNav">
    <a class="sLink" routerLink="/seussical" routerLinkActive="active">Information</a>
    <a class="sLink" routerLink="/enroll" routerLinkActive="active">Enroll</a>
    <a class="sLink" routerLink="/scholarship" routerLinkActive="active">Scholarship</a>
  </nav>
</div>
