* {
    font-family: 'Raleway', sans-serif;
}

.seussicalImg {
    max-width: 50%;
    max-height: 50%;
    margin: 15px;
}

.header {
    font-weight: 300;
    text-align: center
}

.bodyText {
    margin: 20px 50px 20px 50px;
}

.bold {
    font-weight: bold
}

.center {
    text-align: center
}

.sLink {
    margin: 5px;
    text-decoration: none;
    padding: 15px 15px 5px 15px;
    border-radius: 25px;
    color: #FFF051;
    background-color: #F2203B;
    font-family: 'Lakki Reddy', cursive;
    font-size: 20px;
    border: 2px black solid;
    animation: changeBack 1s;
}

.sLink:hover {
    color: #FFFF21;
    background-color: #A7C7E5;
    animation-name: change;
    animation-duration: 1s;
    transform: rotate(2deg)
}

@keyframes change {
    from {
        background-color: #F2203B; 
        color: #FFD49E;
        transform: rotate(0deg)
    }
    to {background-color: #A7C7E5; 
        color: #FFFF21;
        transform: rotate(2deg)
    }
}

@keyframes changeBack {
    from {background-color: #A7C7E5; 
        color: #FFFF21;
        transform: rotate(2deg)
    }
    to {
    background-color: #F2203B; 
    color: #FFD49E;
    transform: rotate(0deg)
    }
}

