* {
    font-family: 'Raleway', sans-serif;
}

.seussicalImg {
    max-width: 50%;
    max-height: 50%;
    margin: 15px;
}

.header {
    font-weight: 300;
    text-align: center
}

.bodyText {
    margin: 20px 50px 20px 50px;
}

.bold {
    font-weight: bold
}

.center {
    text-align: center
}

.button {
    margin: 5px;
    text-decoration: none;
    padding: 15px 15px 5px 15px;
    border-radius: 25px;
    color: #FFF051;
    background-color: #F2203B;
    font-family: 'Lakki Reddy', cursive;
    font-size: 20px;
    border: 2px black solid;
}

.button:hover {
    color: #FFD49E;
    background-color: #7F3340
}
